<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.henriquecarvalho.tep_06_trabalho">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- The main/home activity (it has no parent activity) -->
        <activity
            android:name=".MainActivity"
            android:label="MyTravel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- A child of the main activity -->
        <activity
            android:name=".NewTravelActivity"
            android:label="Nova viagem"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.henriquecarvalho.tep_06_trabalho.MainActivity" />
        </activity>

        <!-- A child of the main activity -->
        <activity
            android:name=".MyTravelsActivity"
            android:label="Minha viagens"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.henriquecarvalho.tep_06_trabalho.MainActivity" />
        </activity>

        <!-- A child of the main activity -->
        <activity
            android:name=".NewCostActivity"
            android:label="Novo gasto"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.henriquecarvalho.tep_06_trabalho.MainActivity" />
        </activity>

        <!-- A child of the main activity -->
        <activity
            android:name=".MyCostsActivity"
            android:label="Meus gastos"
            android:parentActivityName=".MyTravelsActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.henriquecarvalho.tep_06_trabalho.MyTravelsActivity" />
        </activity>
    </application>

</manifest>